mixin choice-screen
	section.section.choice-screen
		.choice-screen__cnt
			.choice-screen__item(v-for="(fraction, key, index) in fractions"
														@click="fractionChoice(fraction, index)"
														:class="(fraction.isActive) ? 'is-active' : ''"
														)
				.fraction.fraction--choice
					.fraction__img: img(:src="'/images/fractions/flag_'+fraction.id+'.png'", alt="")
					.fraction__name {{fraction.name}}
				.choice-screen__person(v-for="(person, index) in fraction.persons"
								:class="'choice-screen__person--'+(index+1)"
								v-show="gamers.user.fraction === key"
								@click="personChoice(fraction, person)")
					.person: .person__img.person__img--big: img(:src="'/images/persons/'+person+'.png'", alt="")