mixin choice-screen
	section.section.choice-screen
		.choice-screen__cnt
			.choice-screen__item(v-for="(fraction, frKey, index) in fractions")
				.choice-screen__fraction(@click="fractionChoice(frKey)"
																:class="(fraction.isActive) ? 'is-active' : ''")
					.fraction.fraction--choice
						.fraction__img: img(:src="'/images/fractions/flag_'+frKey+'.png'", alt="")
						.fraction__name {{fraction.name}}
				.choice-screen__person(v-for="(person, index) in fraction.persons"
								:class="'choice-screen__person--'+(index+1)"
								v-show="gamers.user.fraction === frKey"
								@click="personChoice(frKey, person)")
					.person: .person__img.person__img--big: img(:src="'/images/persons/'+person+'.png'", alt="")