mixin game-screen
	section.section.game-screen
		.game-screen__cnt
			.game-screen__item(v-for="(gamer, key, index) in gamers" :key="key" :id="key")
				.game-screen__fraction
					.fraction
						.fraction__img: img(:src="'/images/fractions/flag_'+gamer.fraction+'.png'", alt="")
						.fraction__name {{ gamer.fractionName }}
				.game-screen__person
					.person(:class="(gamer.turn) ? 'is-active' : ''")
						.person__img: img(:src="'/images/persons/'+gamer.person+'.png'", alt="")
						.person__message-box {{ gamer.serviceMessage }}
				.field(:class="'field--'+key")
					.field__row(v-for="(row, rowIndex) in gamer.field")
						template(v-if="(key == 'computer')")
							.field__cell(v-for="(cell, cellIndex) in row" 
													v-show="(rowIndex > 0 && rowIndex < 11 && cellIndex > 0 && cellIndex < 11)"
													:class="cell.class"
													@click="userShot(rowIndex, cellIndex, cell)")
						template(v-else)
							.field__cell(v-for="(cell, cellIndex) in row" 
														v-show="(rowIndex > 0 && rowIndex < 11 && cellIndex > 0 && cellIndex < 11)"
														:class="cell.class" 
														:style="{backgroundPosition: ('0px', cell.index * -40 + 'px')}")
			.game-screen__controls
				template(v-if="!gameSteps.isStarting")
					button(type="button" @click="shuffleShips").button Изменить расстановку
					button(type="button" @click="startGame").button Начать битву
				template(v-else)
					button(type="button" @click="exitGame" ).button Признать поражение