extends pug/base
include pug/mixins/start-screen
include pug/mixins/choice-screen
include pug/mixins/game-screen

append vars
	//- ...

block content
	#app.app-wrapper
		template(v-if="!gameSteps.newGame")
			+start-screen
		template(v-else-if="!gameSteps.isChoiced")
			+choice-screen
		template(v-else="!gameSteps.personsIsChoiced")
			+game-screen