extends pug/base
include pug/mixins/start-screen
include pug/mixins/choice-screen
include pug/mixins/game-screen

append vars
	title Морской бой

block content
	#app.app-wrapper
		template(v-if="!gameSteps.newGame")
			+start-screen
		template(v-else-if="!gameSteps.personsIsChoiced")
			+choice-screen
		template(v-else-if="gameSteps.personsIsChoiced && !gameSteps.isFinished")
			+game-screen
		template(v-else-if="gameSteps.isFinished")
			section.section
				.section__cnt
					h2 {{ gamers.user.serviceMessage }}
					.statistics
						table.statistics__table
							tr(v-for="(info, key, index) in gamers.user.stats")
								td {{gamers.user.statsAreaNames[index]}}
								td {{info}}
					button.button(@click="backToStart()") В главное меню
					button.button(@click="newGame()") Сыграть ещё раз