extends pug/base
include pug/mixins/start-screen
include pug/mixins/choice-screen
include pug/mixins/game-screen

append vars
	//- ...

block content
	#app.app-wrapper
		//- +start-screen
		//- +choice-screen
		+game-screen

