*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}


.cell {
	display: inline-block;
	$size : 20px;
	width: $size;
	height: $size;
	line-height: $size;
	font-size: $size * 0.75; 
	text-align: center;
	border: 1px solid #ccc;
	&.green {
		background-color: green;
	}
	&.blue {
		background: blue;
	}
	&.red {
		background: coral;
	}
	&.yellow {
		background: yellow;
	}
}